<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Admin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='adminuser_style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icone.png') }}">
</head>
<body>

<nav class="category-tabs">
  <div class="tabs-center">
    <a class="btn-back-home" href="{{ url_for('home.home') }}"> Página principal </a>
  </div>
</nav>

<div class="background">
  <div class="sub-background">
    <div class="container">
      <div class="login-box">
        <h1>Olá, novamente!</h1>
        <div class="divider">
          <hr><span>Faça login com o sua senha de administrador</span><hr>
        </div>

        <form method="POST">
          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Senha">
          </div>

          <div class="forgot-container">
            <a href="#" class="forgot-password">Esqueceu a senha?</a>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <p class="error-message">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
          
          <button type="submit" class="login-btn">Login</button>
        </form>
      </div>
    </div>

    <div class="footer">
      <h1><span>Gourmet</span>Receitas.<br>O mundo que facilita a procura de receitas.</h1>
    </div>
  </div>
</div>

</body>

<script>
  // Obtém o elemento com a classe "forgot-password"
  const senha = document.querySelector(".forgot-password");

  // Verifica se o elemento existe antes de adicionar o evento
  if (senha) {
    senha.onclick = function () {
      alert("Senha enviada para o admin master! Aguarde...");
    };
  }
</script>
</html>