<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Intelbras{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block extra_css %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/pato_favicon.png') }}">    
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}
        <div class="header-container">
            <h2 class="header-title">Nosso site</h2>
        </div>
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p id="copyright">© 2025 Unisul. Todos os direitos reservados.</p>
        <p id="versao">Versão 1.0.0</p>
    </footer>

    {% block scripts %}{% endblock %}
    </body>
</html>
